In [5]:
import pandas as pd
data_location = '../data/online-retail-sample.csv'
#data_location = 'https://raw.githubusercontent.com/elephantscale/datasets/master/retail-data/all/online-retail-sample.csv'

df = pd.read_csv(data_location)
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,579134,22383,LUNCH BAG SUKI DESIGN,20,11/28/2011 12:38,1.65,13115.0,United Kingdom
1,574835,23530,WALL ART ONLY ONE PERSON,6,11/7/2011 11:31,4.95,13139.0,United Kingdom
2,536876,15036,ASSORTED COLOURS SILK FAN,3,12/3/2010 11:36,1.28,NaN,United Kingdom
3,543458,21232,STRAWBERRY CERAMIC TRINKET BOX,4,2/8/2011 13:28,1.25,14587.0,United Kingdom
4,575215,48187,DOORMAT NEW ENGLAND,1,11/9/2011 11:04,8.25,18109.0,United Kingdom
...,...,...,...,...,...,...,...,...
24995,541223,22202,MILK PAN PINK POLKADOT,1,1/14/2011 14:39,3.75,17954.0,United Kingdom
24996,541565,22625,RED KITCHEN SCALES,1,1/19/2011 11:48,8.50,14527.0,United Kingdom
24997,566275,20659,ECONOMY LUGGAGE TAG,5,9/11/2011 13:58,1.25,16549.0,United Kingdom
24998,561670,21975,PACK OF 60 DINOSAUR CAKE CASES,24,7/28/2011 17:15,0.55,17373.0,United Kingdom
24999,550452,22548,HEADS AND TAILS SPORTING FUN,1,4/18/2011 12:56,1.25,14525.0,United Kingdom

In [6]:
# see data types
# we see 'invoicedate' is object
df.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

## Parse Dates

In [8]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])
df.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
dtype: object

## Extract Date Attributes like Year, Month, Day

In [9]:
df['InvoiceDate'].dt.year

0        2011
1        2011
2        2010
3        2011
4        2011
         ...
24995    2011
24996    2011
24997    2011
24998    2011
24999    2011
Name: InvoiceDate, Length: 25000, dtype: int64

In [11]:
# we can assign it to new column too
df['InvoiceDate_Yr'] = df['InvoiceDate'].dt.year
df.sample(5)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,InvoiceDate_Yr
20535,554694,22728,ALARM CLOCK BAKELIKE PINK,2,2011-05-25 17:06:00,3.75,NaN,United Kingdom,2011
1857,537375,22537,MAGIC DRAWING SLATE DINOSAUR,3,2010-12-06 12:55:00,0.42,17019.0,United Kingdom,2010
24814,559887,22116,METAL SIGN HIS DINNER IS SERVED,3,2011-07-13 11:44:00,0.79,13263.0,United Kingdom,2011
7721,567912,22294,HEART FILIGREE DOVE SMALL,3,2011-09-22 17:07:00,1.25,15555.0,United Kingdom,2011
5741,571129,23354,6 GIFT TAGS 50'S CHRISTMAS,24,2011-10-14 10:03:00,0.83,14156.0,EIRE,2011

In [10]:
## Extract month
df['InvoiceDate'].dt.month

0        11
1        11
2        12
3         2
4        11
         ..
24995     1
24996     1
24997     9
24998     7
24999     4
Name: InvoiceDate, Length: 25000, dtype: int64

In [12]:
## Extract day
df['InvoiceDate'].dt.day

0        28
1         7
2         3
3         8
4         9
         ..
24995    14
24996    19
24997    11
24998    28
24999    18
Name: InvoiceDate, Length: 25000, dtype: int64