In [3]:
import os
import urllib.request

data_location = '../data/Online-Retail-sample.csv'

## larger data here
# data_url = 'https://s3.amazonaws.com/elephantscale-public/data/retail-data/all/online-retail-dataset.csv'
data_url = 'https://raw.githubusercontent.com/elephantscale/datasets/master/retail-data/all/online-retail-dataset.csv'
# data_location = 'https://raw.githubusercontent.com/elephantscale/datasets/master/retail-data/all/online-retail-dataset.csv'


if not os.path.exists(data_location):
    data_location = os.path.basename(data_location)
    if not os.path.exists(data_location):
        print ("Downloading  ", data_url)
        urllib.request.urlretrieve(data_url, data_location)
print ('data_location: ', data_location)

data_location:  ../data/Online-Retail-sample.csv

In [4]:
import pandas as pd

df = pd.read_csv(data_location)
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,579134,22383,LUNCH BAG SUKI DESIGN,20,11/28/2011 12:38,1.65,13115.0,United Kingdom
1,574835,23530,WALL ART ONLY ONE PERSON,6,11/7/2011 11:31,4.95,13139.0,United Kingdom
2,536876,15036,ASSORTED COLOURS SILK FAN,3,12/3/2010 11:36,1.28,NaN,United Kingdom
3,543458,21232,STRAWBERRY CERAMIC TRINKET BOX,4,2/8/2011 13:28,1.25,14587.0,United Kingdom
4,575215,48187,DOORMAT NEW ENGLAND,1,11/9/2011 11:04,8.25,18109.0,United Kingdom
...,...,...,...,...,...,...,...,...
24995,541223,22202,MILK PAN PINK POLKADOT,1,1/14/2011 14:39,3.75,17954.0,United Kingdom
24996,541565,22625,RED KITCHEN SCALES,1,1/19/2011 11:48,8.50,14527.0,United Kingdom
24997,566275,20659,ECONOMY LUGGAGE TAG,5,9/11/2011 13:58,1.25,16549.0,United Kingdom
24998,561670,21975,PACK OF 60 DINOSAUR CAKE CASES,24,7/28/2011 17:15,0.55,17373.0,United Kingdom
24999,550452,22548,HEADS AND TAILS SPORTING FUN,1,4/18/2011 12:56,1.25,14525.0,United Kingdom

In [5]:
df.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    25000 non-null  object
 1   StockCode    25000 non-null  object
 2   Description  24922 non-null  object
 3   Quantity     25000 non-null  int64
 4   InvoiceDate  25000 non-null  object
 5   UnitPrice    25000 non-null  float64
 6   CustomerID   18623 non-null  float64
 7   Country      25000 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 1.5+ MB

In [7]:
type(df['InvoiceNo'].astype('category'))

pandas.core.series.Series

In [8]:
df['InvoiceNo'].astype('category')

0        579134
1        574835
2        536876
3        543458
4        575215
          ...
24995    541223
24996    541565
24997    566275
24998    561670
24999    550452
Name: InvoiceNo, Length: 25000, dtype: category
Categories (10608, object): ['536370', '536373', '536382', '536384', ..., 'C580966', 'C580968', 'C581117', 'C581484']

In [9]:
df['InvoiceNo'].astype('int32')

ValueError: invalid literal for int() with base 10: 'C554516'

In [ ]:
# eye color = [black, grey, green, ...]
# ethinicity = [a, b, d]